In [4]:
import pandas as pd
import numpy as np

# Starting to analyze and process both sets of mortality data

## All Deaths with Covid

In [5]:
df = pd.read_pickle("Datasets/cdc_mortality_df.pkl")

In [6]:
df.head(10)

     State  Year  Deaths
0  Alabama  2013    8695
1  Alabama  2014    8254
2  Alabama  2015    9256
3  Alabama  2016    9020
4  Alabama  2017    9030
5  Alabama  2018    9182
6  Alabama  2020    8589
7   Alaska  2013     686
8   Alaska  2014     622
9   Alaska  2015     696

In [7]:
df = df.astype({"Deaths":"int64"})

In [8]:
df["Death Difference"] = df["Deaths"].diff()

In [9]:
df.loc[(df["Year"]==2013), "Death Difference"] = np.nan

In [10]:
df.head(20)

      State  Year  Deaths  Death Difference
0   Alabama  2013    8695               NaN
1   Alabama  2014    8254            -441.0
2   Alabama  2015    9256            1002.0
3   Alabama  2016    9020            -236.0
4   Alabama  2017    9030              10.0
5   Alabama  2018    9182             152.0
6   Alabama  2020    8589            -593.0
7    Alaska  2013     686               NaN
8    Alaska  2014     622             -64.0
9    Alaska  2015     696              74.0
10   Alaska  2016     719              23.0
11   Alaska  2017     691             -28.0
12   Alaska  2018     698               7.0
13   Alaska  2020     600             -98.0
14  Arizona  2013    9010               NaN
15  Arizona  2014    8621            -389.0
16  Arizona  2015    9114             493.0
17  Arizona  2016   10534            1420.0
18  Arizona  2017    9595            -939.0
19  Arizona  2018   10193             598.0

In [13]:
df.loc[(df["Death Difference"]>0) & (df["Year"]==2020)].sort_values("Death Difference", ascending=False).head(5)

              State  Year  Deaths  Death Difference
69          Florida  2020   39184            3956.0
34       California  2020   49660            2294.0
300       Tennessee  2020   13126            1248.0
153   Massachusetts  2020   10996             807.0
286  South Carolina  2020    9467             777.0

In [25]:
df.loc[df["State"] == "Florida"]

      State  Year  Deaths  Death Difference
63  Florida  2013   31180               NaN
64  Florida  2014   30639            -541.0
65  Florida  2015   33031            2392.0
66  Florida  2016   34395            1364.0
67  Florida  2017   34411              16.0
68  Florida  2018   35228             817.0
69  Florida  2020   39184            3956.0

## All Deaths without Covid

In [48]:
df2 = pd.read_pickle("Datasets/cdc_mortality_no_covid_df.pkl")

In [49]:
df2["Death Difference no Covid"] = df2["Deaths"].diff()

In [56]:
df2 = df2.rename(columns={"Deaths":"Deaths no Covid"})

In [57]:
df2.loc[(df2["Year"]==2013), "Death Difference no Covid"] = np.nan

In [58]:
df2.loc[(df2["Death Difference no Covid"]>0) & (df2["Year"]==2020)]

                    State  Year  Deaths no Covid  Death Difference no Covid
20                Arizona  2020            10540                      347.0
27               Arkansas  2020             5680                      277.0
34             California  2020            49562                     2196.0
41               Colorado  2020             7326                      733.0
62   District of Columbia  2020             1005                      182.0
69                Florida  2020            39133                     3905.0
83                 Hawaii  2020             2136                      149.0
90                  Idaho  2020             2547                      100.0
97               Illinois  2020            19365                      669.0
111                  Iowa  2020             5355                       73.0
139                 Maine  2020             2765                      262.0
146              Maryland  2020             9404                      736.0
153         Massachusetts  2020            10981                      792.0
167             Minnesota  2020             8048                      561.0
174           Mississippi  2020             5642                      252.0
188               Montana  2020             1780                       98.0
202                Nevada  2020             4577                      433.0
209         New Hampshire  2020             2329                      164.0
216            New Jersey  2020            13494                      362.0
244          North Dakota  2020             1255                      181.0
286        South Carolina  2020             9449                      759.0
300             Tennessee  2020            13123                     1245.0
307                 Texas  2020            34578                      299.0
314                  Utah  2020             3551                      501.0
321               Vermont  2020             1071                       42.0
328              Virginia  2020            12514                      739.0
335            Washington  2020            10127                      396.0
349             Wisconsin  2020             9672                      499.0

In [61]:
merged_df = df.merge(df2)

In [65]:
merged_df.loc[df["Year"]==2020]

,State,Year,Deaths,Death Difference,Deaths no Covid,Death Difference no Covid
6,Alabama,2020,8589,-593.0,8587,-595.0
13,Alaska,2020,600,-98.0,600,-98.0
20,Arizona,2020,10540,347.0,10540,347.0
27,Arkansas,2020,5680,277.0,5680,277.0
34,California,2020,49660,2294.0,49562,2196.0
41,Colorado,2020,7353,760.0,7326,733.0
48,Connecticut,2020,0,-5311.0,0,-5311.0
55,Delaware,2020,1295,-355.0,1295,-355.0
62,District of Columbia,2020,1006,183.0,1005,182.0
69,Florida,2020,39184,3956.0,39133,3905.0
76,Georgia,2020,13354,-1056.0,13333,-1077.0
83,Hawaii,2020,2136,149.0,2136,149.0
90,Idaho,2020,2550,103.0,2547,100.0
97,Illinois,2020,19429,733.0,19365,669.0
104,Indiana,2020,11153,-23.0,11148,-28.0
111,Iowa,2020,5357,75.0,5355,73.0
118,Kansas,2020,4739,-150.0,4736,-153.0
125,Kentucky,2020,7149,-1103.0,7146,-1106.0
132,Louisiana,2020,7040,-465.0,6992,-513.0
139,Maine,2020,2768,265.0,2765,262.0
146,Maryland,2020,9419,751.0,9404,736.0
153,Massachusetts,2020,10996,807.0,10981,792.0
160,Michigan,2020,17305,55.0,17235,-15.0
167,Minnesota,2020,8054,567.0,8048,561.0
174,Mississippi,2020,5648,258.0,5642,252.0
181,Missouri,2020,10568,-377.0,10561,-384.0
188,Montana,2020,1780,98.0,1780,98.0
195,Nebraska,2020,2847,-76.0,2847,-76.0
202,Nevada,2020,4583,439.0,4577,433.0
209,New Hampshire,2020,2332,167.0,2329,164.0
216,New Jersey,2020,13537,405.0,13494,362.0
223,New Mexico,2020,2959,-354.0,2959,-354.0
230,New York,2020,19446,-7690.0,19141,-7995.0
237,North Carolina,2020,3060,-12809.0,3060,-12809.0
244,North Dakota,2020,1256,182.0,1255,181.0
251,Ohio,2020,18245,-2521.0,18245,-2521.0
258,Oklahoma,2020,6113,-1031.0,6110,-1034.0
265,Oregon,2020,5787,-329.0,5777,-339.0
272,Pennsylvania,2020,19145,-4224.0,19113,-4256.0
279,Rhode Island,2020,1569,-65.0,1569,-65.0
286,South Carolina,2020,9467,777.0,9449,759.0
293,South Dakota,2020,1349,-5.0,1348,-6.0
300,Tennessee,2020,13126,1248.0,13123,1245.0
307,Texas,2020,34588,309.0,34578,299.0
314,Utah,2020,3553,503.0,3551,501.0
321,Vermont,2020,1072,43.0,1071,42.0
328,Virginia,2020,12530,755.0,12514,739.0
335,Washington,2020,10278,547.0,10127,396.0
342,West Virginia,2020,2855,-1125.0,2855,-1125.0
349,Wisconsin,2020,9681,508.0,9672,499.0
356,Wyoming,2020,781,-93.0,781,-93.0