# Converting NY Times and Mortality datasets to data frames

In [1]:
import pandas as pd

## NY Times csv
 - convert csv to df
 - convert date to datetime
 - select last day of March for each state, since data is cumulative
 - pickle the data frame in the datasets folder

In [21]:
ny_times_df = pd.read_csv("datasets/nytimes_cumulative_covid_per_state.csv")

In [22]:
ny_times_df.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [23]:
ny_times_df["date"] = pd.to_datetime(ny_times_df["date"])

In [ ]:
df.loc[df['column_name'] == some_value]

In [47]:
ny_times_final = ny_times_df.loc[ny_times_df["date"]=="2020-03-31"]

In [49]:
ny_times_final = ny_times_final.reset_index(drop=True)

In [51]:
ny_times_final.to_pickle("Datasets/nytimes.pkl")

## Mortality txt
- convert txt to df
- clean df:
    - remove columns that have no values (deaths, population, crude, rate)
    - remove `total` rows that perform aggregation 
    - 
- pickle the data frame in datasets folder

In [61]:
mortality_df = pd.read_table("Datasets/Mortality_March-February_2013-2018.txt", delim_whitespace=True)

In [62]:
mortality_df.head()

,Notes,State,State Code,Year,Year Code,Month,Month Code,Deaths,Population,Crude,Rate
0,Alabama,01,2013,2013,"Feb., 2013",2013/02,4147,Not,Applicable,Not,Applicable
1,Alabama,01,2013,2013,"Mar., 2013",2013/03,4548,Not,Applicable,Not,Applicable
2,Total,Alabama,01,2013,2013,8695,Not,Applicable,Not,Applicable,NaN
3,Alabama,01,2014,2014,"Feb., 2014",2014/02,3966,Not,Applicable,Not,Applicable
4,Alabama,01,2014,2014,"Mar., 2014",2014/03,4288,Not,Applicable,Not,Applicable

In [67]:
mortality_df = mortality_df.drop(columns=["Deaths", "Population", "Crude", "Rate"])