In [11]:
import pandas as pd

We "collect" our data from our pickles

In [12]:
df_nyt = pd.read_pickle("Datasets/nytimes.pkl")
df_nyt.head()

        date       state  fips  cases  deaths
0 2020-03-31     Alabama     1    999      13
1 2020-03-31      Alaska     2    133       2
2 2020-03-31     Arizona     4   1298      24
3 2020-03-31    Arkansas     5    564       8
4 2020-03-31  California     6   8582     183

In [13]:
df_dps = pd.read_pickle("Datasets/deaths_all_causes_bystate.pkl")
df_dps.head()

    indicator covid_deaths total_deaths
0     Alabama            2         8589
1      Alaska            0          600
2     Arizona            0        10540
3    Arkansas            0         5680
4  California           98        49660