In [2]:
import pandas as pd

We "collect" our data from our pickles

In [23]:
df_nyt = pd.read_pickle("Datasets/nytimes.pkl")
df_cdc = pd.read_pickle("Datasets/deaths_all_causes_bystate.pkl")

Now we´re gonna rename some of the columns on our datasets

In [29]:
df_nyt=df_nyt.rename(columns={"cases":"covid_cases", "deaths":"nyt_covid_deaths"})
df_cdc=df_cdc.rename(columns={"indicator":"state", "covid_deaths":"cdc_covid_deaths", "total_deaths":"cdc_total_deaths"})

In [30]:
#When verifying we pointed out that our nyt dataframe has more states
#cdc_set = set(df_cdc["state"])
#nyt_set = set(df_nyt["state"])
#nyt_set & cdc_set

#Instead of droping the rows for those "states" that are not included in our cdc dataframe, we´ll do an inner join

In [31]:
df_nyt.head()

        date       state  fips  covid_cases  nyt_covid_deaths
0 2020-03-31     Alabama     1          999                13
1 2020-03-31      Alaska     2          133                 2
2 2020-03-31     Arizona     4         1298                24
3 2020-03-31    Arkansas     5          564                 8
4 2020-03-31  California     6         8582               183

In [32]:
df_cdc.head()

        state cdc_covid_deaths cdc_total_deaths
0     Alabama                2             8589
1      Alaska                0              600
2     Arizona                0            10540
3    Arkansas                0             5680
4  California               98            49660

Now we merge both dataframes on the state column. 
We then drop "date" and "fips" columns from our new merged dataframe: 
-"fips" refers to geographical indentifiers which are of no interest for our analysis.
-"date" is of no value either since we already summed up the number of cases and covid deaths based on our chosen time frame for this analysis.

In [38]:
df_merged = df_nyt.merge(df_cdc, on="state")
df_nyt_cdc = df_merged.drop(columns=["date", "fips"])

        state  covid_cases  nyt_covid_deaths cdc_covid_deaths cdc_total_deaths
0     Alabama          999                13                2             8589
1      Alaska          133                 2                0              600
2     Arizona         1298                24                0            10540
3    Arkansas          564                 8                0             5680
4  California         8582               183               98            49660

Time to save our new dataframe in a pickle

In [40]:
df_nyt_cdc.to_pickle("Datasets/nytimes_cdcapi_combined.pkl")

In [ ]:
And we verify that it worked

In [41]:
my_df = pd.read_pickle("Datasets/nytimes_cdcapi_combined.pkl")
my_df.head()

        state  covid_cases  nyt_covid_deaths cdc_covid_deaths cdc_total_deaths
0     Alabama          999                13                2             8589
1      Alaska          133                 2                0              600
2     Arizona         1298                24                0            10540
3    Arkansas          564                 8                0             5680
4  California         8582               183               98            49660