In [1]:
import pandas as pd

# Merging CDC general death information with mortality over the past 5 years

1. read both pickle files
2. rename columns so that the information matches and delete columns that are not shared with non-important information
3. change type of Year columns so that information is sortable
4. concat data frames
5. re-sort by grouping by state, order by year

### step 1

In [67]:
mortality_df = pd.read_pickle("Datasets/mortality_aggregation.pkl")

In [68]:
cdc_df = pd.read_pickle("Datasets/deaths_all_causes_bystate.pkl")

### step 2 and 3

In [69]:
mortality_df = mortality_df.drop(columns="State Code")

In [71]:
cdc_df = cdc_df.rename(columns={"indicator":"State", "total_deaths":"Deaths"})

In [79]:
cdc_df["Year"] = pd.to_numeric("2020")

In [81]:
mortality_df = mortality_df.astype({"Year":"int64"})

In [82]:
cdc_df = cdc_df.reindex(columns=["State", "Year", "Deaths", "covid_deaths"]).drop(columns="covid_deaths")

### step 4

In [83]:
combined = pd.concat([cdc_df, mortality_df])

### step 5

In [84]:
combined.sort_values(by=["State", "Year"]).reset_index(drop=True)

       State  Year Deaths
0    Alabama  2013   8695
1    Alabama  2014   8254
2    Alabama  2015   9256
3    Alabama  2016   9020
4    Alabama  2017   9030
..       ...   ...    ...
353  Wyoming  2015    825
354  Wyoming  2016    835
355  Wyoming  2017    825
356  Wyoming  2018    874
357  Wyoming  2020    781

[358 rows x 3 columns]

In [86]:
combined.to_pickle("Datasets/nytimes_mortality_df.pkl")