In [1]:
import pandas as pd

We "collect" our data from our pickles

In [2]:
df_nyt = pd.read_pickle("../../Pickles/nytimes.pkl")
df_cdc = pd.read_pickle("../../Pickles/deaths_all_causes_bystate.pkl")

Now we´re gonna rename some of the columns on our datasets

In [3]:
df_nyt=df_nyt.rename(columns={"cases":"covid_cases", "deaths":"nyt_covid_deaths"})
df_cdc=df_cdc.rename(columns={"indicator":"state", "covid_deaths":"cdc_covid_deaths", "total_deaths":"cdc_total_deaths"})

In [4]:
#When verifying we pointed out that our nyt dataframe has more states
#cdc_set = set(df_cdc["state"])
#nyt_set = set(df_nyt["state"])
#nyt_set & cdc_set

#Instead of droping the rows for those "states" that are not included in our cdc dataframe, we´ll do an inner join

In [5]:
df_nyt.head()

        date       state  fips  covid_cases  nyt_covid_deaths
0 2020-03-31     Alabama     1          999                13
1 2020-03-31      Alaska     2          133                 2
2 2020-03-31     Arizona     4         1298                24
3 2020-03-31    Arkansas     5          564                 8
4 2020-03-31  California     6         8582               183

In [6]:
df_cdc.head()

        state cdc_covid_deaths cdc_total_deaths
0     Alabama                7             8842
1      Alaska                1              613
2     Arizona               26            11862
3    Arkansas                3             5939
4  California              135            50784

Now we merge both dataframes on the state column. 
We then drop "date" and "fips" columns from our new merged dataframe: 
-"fips" refers to geographical indentifiers which are of no interest for our analysis.
-"date" is of no value either since we already summed up the number of cases and covid deaths based on our chosen time frame for this analysis.

In [7]:
df_merged = df_nyt.merge(df_cdc, on="state")
df_nyt_cdc = df_merged.drop(columns=["date", "fips"])

df_nyt_cdc = df_nyt_cdc.astype({"cdc_covid_deaths":"int64","cdc_total_deaths":"int64" })

Time to save our new dataframe in a pickle

In [8]:
df_nyt_cdc.to_pickle("../../Pickles/nytimes_cdcapi_combined.pkl")

And we verify that it worked

In [9]:
my_df = pd.read_pickle("../../Pickles/nytimes_cdcapi_combined.pkl")
my_df.head()

,state,covid_cases,nyt_covid_deaths,cdc_covid_deaths,cdc_total_deaths
0,Alabama,999,13,7,8842
1,Alaska,133,2,1,613
2,Arizona,1298,24,26,11862
3,Arkansas,564,8,3,5939
4,California,8582,183,135,50784