In [2]:
import pandas as pd

In [3]:
df_pop = pd.read_pickle('../../Pickles/df_census_tp_gender.csv')

In [4]:
df_inc = pd.read_pickle('../../Pickles/df_census_income.csv')

In [5]:
df_age = pd.read_pickle('../../Pickles/df_census_groupage.csv')

In [6]:
df_hlt = pd.read_pickle('../../Pickles/healthcare_percentage.pkl')

In [7]:
df_mor = pd.read_pickle('../../Pickles/cdc_morality_to_merge.pkl')
df_mor = (df_mor.
          drop(columns='Year')
          .rename(columns={'Deaths':'Deaths Feb-Mar ´20',
                                                     'Death Difference':'Difference Feb-Mar ´18'}))

In [8]:
final_df = (df_pop.merge(df_inc, how='left', on='State')
            .merge(df_hlt, how='left', on='State')
            .merge(df_age, how='left', on='State')
            .merge(df_mor, how='left', on='State')
            .reset_index(drop=True))

final_df.head()

,State,TotalPop,Men,Women,Employed,IncomePerCap,%Poverty,Unemployment rate,Uninsured Rate,% Children 0-18,% Adults 19-25,% Adults 26-34,% Adults 35-54,% Adults 55-64,% 65+,Deaths Feb-Mar ´20,Difference Feb-Mar ´18
0,Alabama,4850771,2350806,2499965,2055509,24403,20.40,8.65,10.1,0.24,0.09,0.11,0.25,0.14,0.17,8842,-340.0
1,Alaska,738565,386319,352246,354045,34363,11.11,8.65,14.9,0.27,0.09,0.14,0.26,0.13,0.11,613,-85.0
2,Arizona,6809946,3385055,3424891,2953891,28451,17.52,7.60,10.8,0.25,0.09,0.12,0.25,0.12,0.17,11862,1669.0
3,Arkansas,2977944,1461651,1516293,1276536,23650,19.54,7.04,9.5,0.25,0.09,0.11,0.25,0.13,0.17,5939,536.0
4,California,38982847,19366579,19616268,17993915,33978,15.41,7.87,8.6,0.24,0.10,0.14,0.27,0.12,0.14,50784,3418.0

In [9]:
final_df.to_pickle('../../Pickles/final_df.pkl')