In [1]:
import pandas as pd

In [2]:
df_ga = pd.read_csv('../../Datasets/agegroups_us_population_2017.csv', skiprows=2)
df_ga = df_ga.rename(columns={'Location':'State'})
df_ga = df_ga.drop(columns='Footnotes')
df_ga.head()

,State,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+
0,United States,0.24,0.09,0.12,0.26,0.13,0.16
1,Alabama,0.24,0.09,0.11,0.25,0.14,0.17
2,Alaska,0.27,0.09,0.14,0.26,0.13,0.11
3,Arizona,0.25,0.09,0.12,0.25,0.12,0.17
4,Arkansas,0.25,0.09,0.11,0.25,0.13,0.17

In [23]:
#We want to drop some rows but we first make a copy of our original dataframe
df_ga51 = df_ga.copy()

# We drop the row with the national percentages
df_ga51.drop(df_ga51[df_ga51["State"] == "United States"].index, inplace=True)

#We also drop the last rows that included % for Puerto Rico and information about the data source
df_ga51 = df_ga51.iloc[:51]

51