# Converting NY Times and Mortality datasets to data frames

In [1]:
import pandas as pd

## NY Times csv
 - convert csv to df
 - convert date to datetime
 - select last day of March for each state, since data is cumulative
 - pickle the data frame in the datasets folder

In [21]:
ny_times_df = pd.read_csv("datasets/nytimes_cumulative_covid_per_state.csv")

In [22]:
ny_times_df.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [23]:
ny_times_df["date"] = pd.to_datetime(ny_times_df["date"])

In [ ]:
df.loc[df['column_name'] == some_value]

In [47]:
ny_times_final = ny_times_df.loc[ny_times_df["date"]=="2020-03-31"]

In [49]:
ny_times_final = ny_times_final.reset_index(drop=True)

In [51]:
ny_times_final.to_pickle("Datasets/nytimes.pkl")

## Mortality txt
- convert txt to df
- clean df:
    - remove columns that have no values (deaths, population, crude, rate)
    - create new df from `total` rows that perform aggregation 
    - clean new df by deleting repeated columns and changing column names
- pickle the data frame in datasets folder

In [61]:
mortality_df = pd.read_table("Datasets/Mortality_March-February_2013-2018.txt", delim_whitespace=True)

In [105]:
mortality_df.head(10)

     Notes    State State Code  Year   Year Code    Month Month Code
0  Alabama       01       2013  2013  Feb., 2013  2013/02       4147
1  Alabama       01       2013  2013  Mar., 2013  2013/03       4548
2    Total  Alabama         01  2013        2013     8695        Not
3  Alabama       01       2014  2014  Feb., 2014  2014/02       3966
4  Alabama       01       2014  2014  Mar., 2014  2014/03       4288
5    Total  Alabama         01  2014        2014     8254        Not
6  Alabama       01       2015  2015  Feb., 2015  2015/02       4447
7  Alabama       01       2015  2015  Mar., 2015  2015/03       4809
8    Total  Alabama         01  2015        2015     9256        Not
9  Alabama       01       2016  2016  Feb., 2016  2016/02       4428

In [67]:
mortality_df = mortality_df.drop(columns=["Deaths", "Population", "Crude", "Rate"])

In [73]:
agg_df = mortality_df.loc[mortality_df["Notes"]=="Total"]

In [78]:
agg_df = agg_df.reset_index(drop=True)

In [89]:
agg_df = agg_df.drop(columns=["Notes", "Month Code"])

Discovered that Total includes the state totals for the 5 year period. Decided to drop those rows by finding rows where values have been shifted, since there is no year indication

In [94]:
agg_df = agg_df.loc[agg_df["Year Code"]!="Not"]

In [98]:
agg_df = agg_df.reset_index(drop=True)

In [103]:
agg_df = agg_df.rename(columns={"Month":"Deaths"}).drop(columns="Year Code")

       State State Code  Year Deaths
0    Alabama         01  2013   8695
1    Alabama         01  2014   8254
2    Alabama         01  2015   9256
3    Alabama         01  2016   9020
4    Alabama         01  2017   9030
..       ...        ...   ...    ...
301  Wyoming         56  2014    730
302  Wyoming         56  2015    825
303  Wyoming         56  2016    835
304  Wyoming         56  2017    825
305  Wyoming         56  2018    874

[306 rows x 4 columns]

In [104]:
agg_df.to_pickle("Datasets/mortality_aggregation.pkl")